

<ion-content [fullscreen]="true" class="main" padding>

  <ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title id="nameLabel">{{userName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content  >
    <ion-list class="lista">
      <ion-item class="lista">Home</ion-item>
      <ion-item class="lista" (click) ="goback()" routerDirection="Back">Teoria </ion-item>
      <ion-item class="lista">Actividadess</ion-item>
      <ion-item class="lista">Puntaje</ion-item>
      <ion-item class="lista">Actualizaciones</ion-item>
      <ion-item class="lista">Diploma</ion-item>
      <ion-item class="lista">Ajustes</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>



<ion-router-outlet id="main"></ion-router-outlet>




</ion-content>
