<ion-header>
  <ion-toolbar translucent>
    <ion-menu-button></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
    </ion-row>
    <ion-row size="12" size-lg="3" size-md="4" size-ms="6" size-xs="12">
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
      <ion-card color="light">
        <h2>Drag and Drop</h2>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div><label>Elija la palabra ortograficamente correcta: </label></div>
            </ion-col>
            <ion-col>
              <div><div id="div2" (drop)="drop($event)" (dragover)="allowDrop($event)"></div></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>

              <div id="div1" (drop)="drop($event)" (dragover)="allowDrop($event)">

                <img src="/assets/icon/unidad.PNG" class="imgdrag"
                  draggable="true" (dragstart)="drag($event)" id="drag1" >
              </div>

            </ion-col>

            <ion-col>
              <div id="div1" (drop)="drop($event)" (dragover)="allowDrop($event)">

                <img src="/assets/icon/anis.PNG" class="imgdrag"
                  draggable="true" (dragstart)="drag($event)" id="drag2">
              </div>
            </ion-col>

            <ion-col>
              <div id="div1" (drop)="drop($event)" (dragover)="allowDrop($event)">

                <img src="/assets/icon/impe.PNG" class="imgdrag"
                  draggable="true" (dragstart)="drag($event)" id="drag3" >
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="secondary" (click)="siguiente()">Siguiente</ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
        
        
        


          

       

      </ion-card>
    </ion-row>

  </ion-grid>

</ion-content>

