<ion-content  class="ion-padding">
    <ion-grid  style="margin-top: 100px; " >
        <ion-row>
            <ion-col >

            </ion-col>
            <ion-col   size-xs="14" size-lg="10">

                <ion-card  *ngIf="setContenido()" color="light"  style="width: 100%;">
                    <ion-card-header>
                        <h3>La palabra {{palabra[indice]}} se considera:</h3>

                    </ion-card-header>
                    <ion-card-content>

                        <ion-list class="btn">
                            <ion-list class="btn" >
                                <ion-button [disabled]="bloquear" (click)="setAguda()"  [ngStyle]="styleAguda"
                                    >Aguda</ion-button>
                            </ion-list>
                            <ion-list class="btn" >
                                <ion-button [disabled]="bloquear"  [ngStyle]="styleGrave"
                                    (click)="setGrave()">Grave</ion-button>
                            </ion-list>
                            <ion-list class="btn" >
                                <ion-button [disabled]="bloquear"  [ngStyle]="styleEsdrujula"
                                    (click)="setEsdrujula()">Esdrújula</ion-button>
                            </ion-list>
                            <ion-list class="btn" >
                                <ion-button [disabled]="bloquear"  [ngStyle]="styleSobreesdrujula"
                                    (click)="setSobreesdrujula()">Sobreesdrújula</ion-button>
                            </ion-list>
                                    <ion-list class="btn" >
            
                                        <div *ngIf="correct === 1">
            
                                            <h3>Correcto!, {{palabra[indice]}} es {{respuesta}} por que  {{setRetroalimentacion()}} </h3>
                                        </div>
                                        <div *ngIf="correct === 2">
            
                                            <h3>Incorrecto!, {{palabra[indice]}} no es {{respuesta}} por que no {{setRetroalimentacion()}} </h3>
                                        </div>
                                    </ion-list>
                            <ion-list class="btn">
                                <ion-button color="secondary" (click)="siguiente()">Siguiente</ion-button>
                                <ion-label style="margin-left:30px; font-size:20px ">Puntaje :{{ puntaje}}</ion-label>
                            </ion-list>
        
                        </ion-list>
                    </ion-card-content>

                </ion-card >
                <ion-card  *ngIf="!setContenido()" color="light"  style="width: 100%;">
                    <ion-card-content>
                        <ion-list class="btn">
                            <ion-label style="font-size: 75px;align-self: center;">Tu puntaje es: {{ puntaje}}/40 </ion-label>
                        </ion-list>
                        <ion-list class="btn">
                            <ion-button   
                                    (click)="Retry()">¡Vuelve a intentarlo!</ion-button>
                        </ion-list>
                    </ion-card-content>

                </ion-card>

            </ion-col>
            <ion-col>
         
            </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>