.main{

    --background: url('/assets/icon/aja.jpg') 0 0/100% 100% no-repeat;
  
  }
  .btn{
    background: #f4f5f8;
}
.centrar{
  text-align: center; 
}
.label{
  font-size: 30px;
  text-align: center;
}