<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="centrar">
      <label class="label"> ¡Escucha la palabra!</label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="setContenido()" color="light" style="width: 100%;">
    <ion-card-content>
      <ion-list class="btn">
        <ion-label style="font-size: 20px;align-self: center;">Escribe correctamente la palabra que escuches!
        </ion-label>
      </ion-list>
      <ion-list class="btn">
        <div class="centrarVideo" style="margin: 50px;" >
          <audio id="audio" frameborder="0" width="315" height="315" controls>
            <source [src]="datafile" type="audio/mp3">
          </audio>
        </div>
      </ion-list>
      <ion-list class="btn">

        <ion-input disabled={{disabled}} [(ngModel)]="respuesta" placeholder="Escribe aquí!"></ion-input>
      </ion-list>
      <ion-list class="btn">
        <ion-button (click)="isCorrect()">Prueba tu respuesta!</ion-button>
        <ion-button (click)="siguiente()">Siguiente</ion-button>
        <ion-label style="margin-left:30px; font-size:20px ">Puntaje :{{ puntaje}}</ion-label>
      </ion-list>
      
      <div *ngIf="aux==1">

        <h3>Correcto! </h3>
      </div>
      <div *ngIf="aux==2">

        <h3>Incorrecto! la forma correcta de escribir la palabra es "{{respuestas[indice]}}"   </h3>
      </div>
    </ion-card-content>

  </ion-card>
  <ion-card  *ngIf="!setContenido()" color="light"  style="width: 100%;">
    <ion-card-content>
        <ion-list class="btn">
            <ion-label style="font-size: 75px;align-self: center;">Tu puntaje es: {{ puntaje}}/20 </ion-label>
        </ion-list>
        <ion-list class="btn">
            <ion-button   
                    (click)="Retry()">¡Vuelve a intentarlo!</ion-button>
        </ion-list>
    </ion-card-content>

</ion-card>
</ion-content>