.palabra-adivinada-po-ahora{
    text-align: center;
    letter-spacing: 10px;
    font-size: 24px;
}
.botones{
    text-align: center;

}
.bt-letra-acertada{
background-color: lightgreen;
}
.bt-letra-no-acertada{
    background-color: lightcoral;
}
.bt-no-pulsado{
    background-color: white;
}
