<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>


    </ion-buttons>
    <div >
      <label class="label"> ¡Adivina la palabra!</label>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card color="light">
    <ion-card-content>

      <ion-row>
        <ion-col center text-center>
          
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col center text-center size="12" size-lg="12" size-md="4" size-ms="6" size-xs="12">
          <div class="centrar">
            <img height="280" src='/assets/icon/imagenesAhor/{{numFallos}}.jpg' />
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col center text-center>
          <div class="centrar">
            <ion-badge *ngFor="let fallo  of fallos" color="danger" class="badge">{{fallo}}</ion-badge>
          </div>
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col center text-center>
          <div class="centrar">
            <p class="palabra-adivinada-po-ahora">{{palabraAdivinadaPorAhora}}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col center text-center>
          <div class="centrar">
            <button *ngFor="let letra of LETRAS" ion-button round small outline (click)="botonClickend(letra)"
              class="botones">{{letra}}</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>



</ion-content>