.palabra-adivinada-po-ahora{
    text-align: center;
    letter-spacing: 10px;
    font-size: 24px;
}
.botones{
    font-size: large;
    font-style: italic;
    background-color: lightblue;
    margin: 8px;
    border-radius: 10px;
    

}
.label{
    font-size: 30px;
    text-align: center;
}
.centrar{
    text-align: center; 
    margin-top: 20px;
}
.badge{
    font-size: large;
}
.bt-letra-acertada{
background-color: lightgreen;
}
.bt-letra-no-acertada{
    background-color: lightcoral;
}
.bt-no-pulsado{
    background-color: white;
}
.centrar{
    text-align: center; 
}