/*.boton{

    margin-left: 45%;
     width: 150px;
     height: 60px;   
 }
 
 .input{
     margin-top: 20%;
     margin-left: 42%;
     margin-right: 40%;
     
     color:black;
     font-size: xx-large;
     width: max-content;
    
 
 }
 */

 .main{
 
     --background: ;
 
 }
.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
}


body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.imagen{
    height: 50;
    width: 50;
}


/* ---- stats.js ---- */

/* ---- particles.js container ---- */

#particles-js{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
  }
  