<div class="main">
<ion-grid fixed>
  
  <ion-row style="margin-top: 60px;">
    
    <ion-col>
      
    </ion-col>

    <ion-col class="ion-align-self-center" size-lg="4" size-xs="12">
      <ion-card color="light"> 
        <ion-card-header >
          <div>
            <img src='/assets/icon/logo.png'>
            <ion-input placeholder="Ingrese su nick" type="text" id="input" [(ngModel)]="myName" ></ion-input>
          </div>

        </ion-card-header>
        <ion-card-content>
          <div>

            <ion-button class="boton" (click)="gohome()" routerDirection="Back" expand="block" >
              LOGIN
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col></ion-col>

  </ion-row>
</ion-grid>
<div id="particles-js"> </div>
</div>





