/*.boton{

    margin-left: 45%;
     width: 150px;
     height: 60px;   
 }
 
 .input{
     margin-top: 20%;
     margin-left: 42%;
     margin-right: 40%;
     
     color:black;
     font-size: xx-large;
     width: max-content;
    
 
 }
 */

 .main{
 
     --background:grey ;
 
 }
.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
}