
<ion-content class ="main">



<ion-header style=" background-color: gray;margin-top: 120px;" class="ion-no-border" >
  
    <ion-title  class="title" size-lg="4"size-xs="12"> 
      ORTOGRAFIA <h1>
        
      </h1> INTERACTIVA
    </ion-title>
  
</ion-header>
<ion-content class ="main">

  <ion-grid fixed>

    <ion-row style="margin-top: 60px;">
      <ion-col></ion-col>

      <ion-col class="ion-align-self-center" size-lg="4" size-xs="12">
        <ion-card color="dark"> 
          <ion-card-header >
            <div>
              <ion-input placeholder="Ingrese su nick" type="text" id="input" [(ngModel)]="myName"></ion-input>
            </div>

          </ion-card-header>
          <ion-card-content>
            <div>

              <ion-button class="boton" (click)="gohome()" routerDirection="Back" expand="block" >
                LOGIN
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
      <ion-col></ion-col>

    </ion-row>
  </ion-grid>



</ion-content>
</ion-content>