.boton{

   margin-left: 45%;
    width: 150px;
    height: 60px;   
}

.input{
    margin-top: 20%;
    margin-left: 42%;
    margin-right: 40%;
    
    color:black;
    font-size: xx-large;
    width: max-content;
   

}

.main{

    --background: url('/assets/icon/aja.jpg') 0 0/100% 100% no-repeat;

}