<ion-app>

  <div *ngIf="showSplash" class="splash">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>

  <ion-content [fullscreen]="true" class="main" padding>

    <ion-menu side="start" menuId="first" contentId="main">

      <ion-header>
        <ion-toolbar color="dark">
          <ion-title id="nameLabel">Menu Principal</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list class="lista">

          <ion-item lines="none" (click)="gohome()" routerDirection="Back">
            <ion-icon name="Home" slot="start"></ion-icon>
            Home
          </ion-item>

          <ion-item lines="none" (click)="goteoria()" routerDirection="Back">
            <ion-icon name="book" slot="start"></ion-icon>
            Teoria
          </ion-item>

          <ion-item lines="none" (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
            <ion-icon name="rocket" slot="start"></ion-icon>
            Actividades
            <ion-icon slot="end" [name]="isRemainder? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </ion-item>
          <ion-menu-toggle auto-hide="false">

            <ion-list lines="none">
              <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
                [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" (click)="goActividades()" routerDirection="Back">
                <ion-icon name="book" slot="start"></ion-icon>
                Tipo de palabra
              </ion-item>
              <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
                [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu" (click)="goActAudio()" routerDirection="Back">
                <ion-icon name="megaphone" slot="start"></ion-icon>
                Audio Interactivo
              </ion-item>
              <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
                [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
                <ion-icon name="school" slot="start"></ion-icon>
                Proximamente
              </ion-item>

              <ion-item lines="none" (click)="goPuntaje()" routerDirection="Back">
                <ion-icon name="ribbon" slot="start"></ion-icon>
                Puntaje
              </ion-item>

              <ion-item lines="none" (click)="goActualizaciones()" routerDirection="Back">
                <ion-icon name="wifi" slot="start"></ion-icon>
                Actualizaciones
              </ion-item>

              <ion-item lines="none" (click)="goDiploma()" routerDirection="Back">
                <ion-icon name="school" slot="start"></ion-icon>
                Diploma
              </ion-item>

              <ion-item lines="none" (click)="goAjustes()" routerDirection="Back">
                <ion-icon name="aperture" slot="start"></ion-icon>
                Salir
              </ion-item>

          
            </ion-list>
          </ion-menu-toggle>    
        </ion-list>
      </ion-content>
    </ion-menu>


    <ion-router-outlet id="main"></ion-router-outlet>


  </ion-content>




</ion-app>