<ion-content class="list">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-segment scrollable (ionChange)="onCategoryChange($event)">
                    <ion-segment-button *ngFor="let category of categories" value="{{category}}"
                        style="border-style:solid;border-width: 2px;">
                        <ion-label>{{category}}</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" size-lg="12" size-md="4" size-ms="6" size-xs="12">
                <ion-toolbar>
                    <ion-searchbar></ion-searchbar>
                </ion-toolbar>
                <ion-card color="light">

                    <ion-card-header>
                        <ion-card-subtitle></ion-card-subtitle>
                        <ion-card-title style="font-size: 19px;text-align: center;">IMPORTANCIA DE LA ORTOGRAFIA
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content color="light">
                    </ion-card-content>
                    <div class="centrarVideo">
                        <iframe src="/assets/icon/importancia.mp4"  frameborder="0" width="315" height="315"></iframe>
                    </div>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>