

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-segment scrollable (ionChange) = "onCategoryChange($event)">
                    <ion-segment-button *ngFor="let category of categories" value="{{category}}"
                    style="border-style:solid;border-width: 2px;">
                        <ion-label>{{category}}</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
            
                
                    
                        <ion-card  color="light" style="width: 100%;" >
            
                            <ion-card-header>
                            <ion-grid >
                                <ion-row>
                                    <ion-col></ion-col>
                                    <ion-col> <img src='/assets/icon/flecha.png' />
                                        <ion-card-title style="font-size: 40px;">¡Empieza con el tema que quieras!</ion-card-title>
                                    </ion-col>
                                    <ion-col></ion-col>
                                </ion-row>
                            </ion-grid>
                           
                            <ion-col></ion-col>
                            
                            
                            </ion-card-header>
                            <ion-card-content>
                                
                             
                            </ion-card-content>
                            
                          </ion-card>
                   
            
            </ion-col>
        </ion-row> 
        
    </ion-grid>
   
</ion-content>
